@media (min-width: 768px) {
  .DataView {
    table-layout: fixed;
  }
}

.DataView td:not(:first-of-type):not(:last-of-type) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.DataView tbody td:first-of-type,
.DataView tbody td:last-of-type {
  background: #1c1c1f;
}

.DataView thead td:first-of-type,
.DataView thead td:last-of-type {
  background: #222226;
}

.DataView td:first-of-type,
.DataView td:last-of-type {
  position: sticky;
  min-width: unset;
  width: 40px;
}

.DataView td:first-of-type {
  left: 0;
}

.DataView td:last-of-type {
  right: 0;
}
